In [ ]:
# code to check if a number is even/odd

num = int(input("Enter the Number: "))

if num % 2 == 0:
    print("Entered number is a Even")
else:
    print("Entered Number is  a Odd")

Enter the Number: 15
Entered Number is  a Odd

In [ ]:
user_input = input("Enter a string: ")

if user_input:
    print("You Entered:", user_input)

Enter a string: HAT
You Entered: HAT

In [ ]:
# PROGRAM TO CHECK WATER IS BOILIN OR NOT

Temparature = float(input("Enter the temparature of water (in degree celsius): "))

if Temparature >= 100:
    print("Water is at Boiling Point Temparature")

else:
    print("Water is not at Boiling Point temparature")

Enter the temparature of water (in degree celsius): 123
Water is at Boiling Point Temparature

In [ ]:
# assigning grades based on  the student's score

student_test_score = float(input("Enter the Student's score (out of 100):"))

score = student_test_score

if score >= 90:
    print("Student has scored A grade")
elif score > 80 and score < 90:
    print("Student has scored B Grade")
elif score >70 and score < 80:
    print("Student has scored C Grade")
elif score < 70:
    print("Student need ti improve ")

Enter the Student's score (out of 100):99
Student has scored A grade

In [ ]:
temperature = 14

if temperature > 30:
    print("It's a hot day!")
elif 20 <= temperature <= 30:
    print("The weather is just right.")
else:
    print("It's a bit cold today.")

It's a bit cold today.

In [ ]:
age = float(input("Enter the Age: "))

if age < 5:
    print("Free entry for kids under 5.")
elif 5 <= age <= 12:
    print("Child ticket price.")
elif 13 <= age <= 18:
    print("Teen ticket price.")
else:
    print("Adult ticket price.")

Enter the Age: 4.5
Free entry for kids under 5.

In [ ]:
# nested if else statements

correct_username = "USER123"
correct_password = "PASS123"

entered_username = input("Enter the username: ")
entered_password = input("Enter the password: ")

if entered_username == correct_username:
    if entered_password == correct_password:
        print("Login Sucessfull")
    else:
        print("Incorrect Password")
else:
    print("Incorrect Username")

Enter the username: 635
Enter the password: 369
Incorrect Username

In [ ]:
# LEAP YEAR CHECK

year_to_check = int(input("Enter the year, which needs to be checked for a leap yaer or not: "))

year = year_to_check


if year % 4 == 0:
    if year != 100 and year % 400 ==0:
        print("It's a Leap year, as it satisfies all conditions for a leap year")
    else:
        print("It's not a Leap year, even though divisible by 4")

else:
    print("It's not divisible by 4, so its not a leap year")

Enter the year, which needs to be checked for a leap yaer or not: 2000
It's a Leap year, as it satisfies all conditions for a leap year

In [ ]:
# age

age = int(input("Enter the Age: "))

if age > 18:
    print("You are an Adult")
    if age > 60:
        print("You are a Senior Citizen and Adult as well")
    else:
        print("An Adult")
else:
    print("You are a Minor")

Enter the Age: 45
You are an Adult
An Adult

In [ ]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
set(range(1,10))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
list(range(21,2,-3))

[21, 18, 15, 12, 9, 6, 3]

In [ ]:
# calculating total sales without using a loop

sun = 20
mon = 25
tue = 30
wed = 22
thu = 25
fri = 30
sat = 32

total = sun + mon + tue + wed + thu + fri + sat

print("Total Sales amount for the week is: ", total)

Total Sales amount for the week is:  184

In [ ]:
# with the use of loops (for loop)

sales = [20,25,30,22,25,30,32]

total_sales = 0

for i in sales:
    total_sales = total_sales + i
    print(total_sales)

print("total sales amount is: ", total_sales)

20
45
75
97
122
152
184
total sales amount is:  184

In [ ]:
# using while loop

sales = [20,25,30,22,25,30,32]

total_sales = 0
i=0

while i < len(sales):
    total_sales = total_sales + sales[i]
    i = i + 1

    print(total_sales)

20
45
75
97
122
152
184

In [ ]:
# printing 9 table

i = 1 # initiated i as 1

while i < 10:
    print(i*9)
    #i = i + 1
    i += 1

9
18
27
36
45
54
63
72
81

In [ ]:
user_input = ''
while user_input != 'quit':
    user_input = input("Enter a word (type 'quit' to exit): ")
    print("You entered:", user_input)

Enter a word (type 'quit' to exit): jf
You entered: jf
Enter a word (type 'quit' to exit): kdfy
You entered: kdfy
Enter a word (type 'quit' to exit): andshfui
You entered: andshfui
Enter a word (type 'quit' to exit): quit
You entered: quit

In [ ]:
# sum of first 10 natural numbers (using a for loop)

total =0

for i in range(1,11):
    total = total + i
    #print(total)

print(total)

55

In [ ]:
# sum of first 10 natural numbers (using a while loop)

total = 0
i = 1

while i <= 100:
    total = total + i
    i = i + 1

print("Sum of first 100 natural numbers is: ",total)

Sum of first 100 natural numbers is:  5050

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6):
    print("Newton school")

Newton school
Newton school
Newton school
Newton school
Newton school

In [ ]:
# Looping Through a List

colors = ['Black', 'Red', 'Grey' ,'Blue']

for colour in colors:
    print(colour)

Black
Red
Grey
Blue

In [ ]:
# Factorial calculations

factorial = 1

for numbers in range(1,6):
    #factorial = factorial * numbers
    factorial *= numbers

print("Factorial of 5 is: " ,factorial)

Factorial of 5 is:  120

In [ ]:
# nested loop

for i in range(1,6):
    for j in range(1,6):
        print(i*j, end = "\t")
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [ ]:
# pattern printing (printng a half pyramid)

for i in range(5):
    for j in range(i + 1):
        print('*', end = '\t')
    print()

*
*	*
*	*	*
*	*	*	*
*	*	*	*	*

In [ ]:
# pattern printing (full pyramid)

n = 5
for i in range(n):
        # Print spaces on the left side
        for j in range(n - i - 1):
            print(" ", end="")

        # Print stars
        for j in range(2 * i + 1):
            print("*", end="")

        # Move to the next line
        print()

    *
   ***
  *****
 *******
*********

In [ ]:
# break in loop statements

for i in range(11):
    #print(i)
    if i == 6 :
        break
    print(i)

0
1
2
3
4
5

In [ ]:
# password game

correct_password = "secret"
max_attempts = 3

for attempt in range(1, max_attempts + 1):
    guess = input("Enter the Password: ")
    if guess == correct_password:
        print("Congragulations!, you have gat the correct password")
        break
    else:
        print("Incorrect Password!...Please try again")
else:
    print("You have exceed the maximum number of attempts. Acess denied")

Enter the Password: dgfredh
Incorrect Password!...Please try again
Enter the Password: t
Incorrect Password!...Please try again
Enter the Password:
Incorrect Password!...Please try again
You have exceed the maximum number of attempts. Acess denied

In [ ]:
# skipping even numbers

for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
for i in range(1,11):
    if i == 5 or i == 6:
        continue
    print(i)

1
2
3
4
7
8
9
10

In [ ]:
total_sum = 0
while True:
    input_value = input("Enter a number (or 'exit' to end): ")
    if input_value == 'exit':
        break
    number = int(input_value)
    if number < 0:
        continue
    total_sum += number
print(f"The total sum of non-negative numbers is: {total_sum}")

Enter a number (or 'exit' to end): 2
Enter a number (or 'exit' to end): 6
Enter a number (or 'exit' to end): 9
Enter a number (or 'exit' to end): exit
The total sum of non-negative numbers is: 17

In [ ]:
# user defined functions

def print_square():
    for num in range(1, 6):
        square = num ** 2
        print(f"The square of {num} is {square}")

# Call the function
print_square()

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [ ]:
def even_or_odd(num):
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [ ]:
even_or_odd(36)

Even Number

In [ ]:
even_or_odd(29)

Odd Number

In [ ]:
# palindrome check

def is_palindrome(num):
    str_num = str(num)
    return str_num == str_num[::-1]

In [ ]:
res = is_palindrome(121)
print(res)

True

In [ ]:
res = is_palindrome(122)
print(res)

False

In [ ]:
# Lambda function

"""
Lambda Function is a small, anonymous function defined using the lambda keyword. unlike regular functionscreated with def, lambda functions are often used for short and specific tasks

syntax:

var_name = lambda arguments: expression


Advantages:
 Lambda functions are handy for quick & temporary operations
 they are commonly used in functional programming constructs like map, filter & reduce
 Ideal for situations where a full functionn definition seems unnecessary

"""
max_of_two = lambda x,y : x if x > y else y

response = max_of_two(-2,-1)
print(response)

-1

In [ ]:
numbers = list(range(1,11))

even_numbers = list(filter(lambda x : x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Check if a word starts with a specific letter:

starts_with_letter = lambda word, letter: word.startswith(letter)  # startswith() is a inbuilt function
print(starts_with_letter("python", "p"))  # Output: True
print(starts_with_letter("java", "J"))    # Output: False

True
False

In [3]:
# strings and indexing

a = 'hello'

print(len(a))

print(a[0])

print(a[4])

5
h
o

In [8]:
print(a[2:5])

llo

In [9]:
print(a[::-1])

olleh

In [12]:
# string concatenation

name = 'pal'

greet = 'Good Day'

greeting = greet + "! " + "Mr." + name

print(greeting)

Good Day! Mr.pal

In [16]:
# string concatenation using .join() method

lists = ["python","is","beginer","friendly",",","isn't","it","?"]

sentence = " ".join(lists)

print("The entire Sentence is: ", sentence)

The entire Sentence is:  python is beginer friendly , isn't it ?

In [20]:
numbers = ["one", "two", "three"]  #List of strings

concat_string = " "

for string in numbers:
    concat_string += string + " "
    print(concat_string)

print("Entire Concatenated string is: ", concat_string)

 one
 one two
 one two three
Entire Concatenated string is:   one two three

In [26]:
# slicing strings with positive steps

text = "I am Persuing data science certification from Newton School"

sl1 = text[0:7]

sl2 = text[::-1]

sl3 = text[1:18:3]


print(sl1)
print(sl2)
print(sl3)

I am Pe
loohcS notweN morf noitacifitrec ecneics atad gniusreP ma I
  ri t

In [32]:
sl4 = text[::-1]
print(sl4)

loohcS notweN morf noitacifitrec ecneics atad gniusreP ma I

In [33]:
sl5 = text[:9]

print(sl5)

I am Pers

In [34]:
sl6 = text[9:]
print(sl6)

uing data science certification from Newton School

In [35]:
sl7 = text[9:22]
print(sl7)

uing data sci

In [36]:
full_name ="sai dhanush"

capitalized_name = full_name.upper()

print(capitalized_name)

SAI DHANUSH

In [37]:
email_id = "SAIDHANUSH.NEWTONSCHOOL@GMAIL.COM"

lowered_email = email_id.lower()

print(lowered_email)

saidhanush.newtonschool@gmail.com

In [38]:
s = "   hello world   "

trimmed_text = s.strip()

print(trimmed_text)

hello world

In [39]:
# splitting text using .split method

example = "This Summer is gonna to be cooked!!"

splitted_text = example.split()

print(splitted_text)

['This', 'Summer', 'is', 'gonna', 'to', 'be', 'cooked!!']

In [41]:
# string formatting methods

# using f-string method

age = 10

name = 'kiran'

str1 = f"name is {name} and he is {age} years old."

print(str1)

str2 = f"name is {name} and he will be {age + 10} years in 10 years"

print(str2)

name is kiran and he is 10 years old.
name is kiran and he will be 20 years in 10 years

In [42]:
# using .format() method

strf1 = "His name is {} and he is {} years old.".format(name,age)

print(strf1)

His name is kiran and he is 10 years old.

In [43]:
# strings in python are immutable

In [44]:
# Lists in python are mutable..

to_do_list = ["buy groceries","pay electricity bill"]

to_do_list.append("have a brunch")

print(to_do_list)

['buy groceries', 'pay electricity bill', 'have a brunch']

In [45]:
# extend method

primary_tasks = ["Reply emails", "Prepare report"]
additional_tasks = ["Schedule meeting", "Book flight"]

primary_tasks.extend(additional_tasks)

print(primary_tasks)

['Reply emails', 'Prepare report', 'Schedule meeting', 'Book flight']

In [46]:
additional_tasks.extend(primary_tasks)

print(additional_tasks)

['Schedule meeting', 'Book flight', 'Reply emails', 'Prepare report', 'Schedule meeting', 'Book flight']

In [50]:
tasks = ["call sarah", "prepare dinner"]
tasks.insert(0,"Create report")

print(tasks)

['Create report', 'call sarah', 'prepare dinner']

In [51]:
nums = [1,3,7,9,11]

nums.insert(2,5)

print(nums)

[1, 3, 5, 7, 9, 11]

In [52]:
tasks = ["Read book", "Email client", "Attend meeting"]
tasks.remove("Email client")
print(tasks)  # Output: ['Read book', 'Attend meeting']

['Read book', 'Attend meeting']

In [53]:
# pop function --> used to remove the last element from the list and display it can be done by pop() function.

tasks = ["Read book", "Email client", "Attend meeting", "Bed Time"]

final_task = tasks.pop()

print(tasks)

print(final_task)

['Read book', 'Email client', 'Attend meeting']
Bed Time

In [55]:
integers = list(range(1,7))

print(integers)

last_integer = integers.pop()

print(last_integer)

print("Integers after pooping out are:", integers)

[1, 2, 3, 4, 5, 6]
6
Integers after pooping out are: [1, 2, 3, 4, 5]

In [56]:
tasks = ["Read book", "Email client", "Attend meeting", "Bed Time"]

index_Position = tasks.index("Attend meeting")

print(index_Position)

2

In [59]:
numbers = [7,5,9,11,58,36,698]

numbers.sort()

print(numbers)

[5, 7, 9, 11, 36, 58, 698]

In [61]:
# Tuples are immutable sequences, whereas lists are not

#tuples are typically used to store heterogenous data and have fewer built in functions due to their immutability

# have index and count built functons

In [63]:
# Map, Reduce & Filter

# map functon applies a given function to each of iterable and returns a map object

#syntax: map(function, iterable)

list1 = list(range(7))

squared_list1 = map(lambda x : x**2,list1)

print(list(squared_list1))

[0, 1, 4, 9, 16, 25, 36]

In [65]:
temps = [0, 10, 20, 34.5]

temp_in_fareinheit = map(lambda x : (9/5) * x + 32 , temps)

print(list(temp_in_fareinheit))

[32.0, 50.0, 68.0, 94.1]

In [66]:
# Reduce --> which is a part of functions module, repeatdely applies a function to the elements of iterable, reducing them to a single value

# syntax: functools.reduce(function, iterable[,initializer])

import functools

lst1 = list(range(1,6))

cumulative_sum = functools.reduce(lambda a,b : a+b, lst1)

print(cumulative_sum)

15

In [67]:
numbers = [47, 11, 42, 102, 13]
max_num = functools.reduce(lambda a,b : a if a > b else b, numbers)

print(max_num)

102

In [69]:
# filter function is used to filter out elements  based on a function that specifies the filtering criteria

#syntax : filter(function, iterable)

number = list(range(10))

even_nums = (filter(lambda x : x % 2 == 0, number))

print(list(even_nums))

[0, 2, 4, 6, 8]

In [70]:
# LIST COMPREHENSION --> It filter outs elements of a sequence based on a function  that specifies the filtering criteria.

# syntax: [expression for item in iterable if condition]

"""
List comprehensions enable creating lists effeciently with a single readable line

they use an expression for clause, with optional if clauses, for diverse list operations

ideal for simple tasks, offering readability and efficiency
"""

nos = list(range(1,6))

squared_tuples = [(x,x**2) for x in nos]

print(squared_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [72]:
words = ["Hello", "WORLD", "Python", "List"]

uppercaesd_words = [word.upper() for word in words]

print(uppercaesd_words)

['HELLO', 'WORLD', 'PYTHON', 'LIST']

In [1]:
# sets

"""
sets are used to store unordered collection of unique elements.

sets are mutable.
each element in a set is unique, duplicates are not allowed.
contains elements of different data types

"""

set1 = {1,"home",55.3}

print(set1)

{1, 'home', 55.3}

In [2]:
set2 = set(list([4,5,6]))

print(set2)

{4, 5, 6}

In [3]:
icc_tournament_player_awardees = ["Virat","Smith","Bumrah","Rohit","Virat","Williamson","Dhoni","Dhoni"]

unique_icc_awardees = set(icc_tournament_player_awardees)

print(unique_icc_awardees)

{'Rohit', 'Bumrah', 'Smith', 'Virat', 'Dhoni', 'Williamson'}

In [4]:
my_set = {1,2,3}

my_set.add(4)

print(my_set)

{1, 2, 3, 4}

In [5]:
my_set.remove(2)

print(my_set)

{1, 3, 4}

In [8]:
# set operations

s1 = {1,3,5,7}

s2 = {2,4,5,6}

union = (s1 | s2)
print(union)

intersection = (s1 & s2)
print(intersection)

diff = (s1 - s2)
print(diff)

sym_diff = (s1 ^ s2)
print(sym_diff)

{1, 2, 3, 4, 5, 6, 7}
{5}
{1, 3, 7}
{1, 2, 3, 4, 6, 7}

In [11]:
# DICTIONARIES

"""
Used for key - value storage
Mutable
Unordered
Keys must be unique
Keys must be immutable

"""

dict1 = {"name":"Alice", "age":25}
print(dict1)

{'name': 'Alice', 'age': 25}

In [12]:
dict2 = dict(name="Alice",age =25)
print(dict2)

{'name': 'Alice', 'age': 25}

In [13]:
my_dict = {"Name":"Varun", "jersey_no":44, "player_type":"Spin Bowler"}

print(my_dict)

{'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler'}

In [16]:
my_dict["Name"]

'Varun'

In [17]:
my_dict["State"] = "Karnataka"

print(my_dict)

{'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler', 'State': 'Karnataka'}

In [18]:
my_dict["Franchise"] = "PBKS"

print(my_dict)

{'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler', 'State': 'Karnataka', 'Franchise': 'PBKS'}

In [19]:
my_dict.pop("Franchise")

'PBKS'

In [20]:
print(my_dict)

{'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler', 'State': 'Karnataka'}

In [21]:
print(len(my_dict))

4

In [22]:
print("Franchise" in my_dict)
print("Name" in my_dict)

False
True

In [25]:
# Iterating through Dictionary

"""
we can iterate through dictionary using
    1. key
    2. value
    3. key - value pairs

"""
print(my_dict)


# 1. iterating using keys

for key in my_dict.keys():
    print(key)
print('\n')

# 2. iterating using values
for values in my_dict.values():
    print(values)
print('\n')

# 3. iterating through key value pairs

for key, value in my_dict.items():
    print(key, value)
print('\n')

{'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler', 'State': 'Karnataka'}
Name
jersey_no
player_type
State


Varun
44
Spin Bowler
Karnataka


Name Varun
jersey_no 44
player_type Spin Bowler
State Karnataka

In [29]:
# copying a dictionary

original_dict = my_dict

# print(original_dict)

copy_dict = original_dict

# print(copy_dict)

print("Original dictionary is: ", original_dict)
print('\n')
print("Duplicate dictionary is: ", copy_dict)

Original dictionary is:  {'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler', 'State': 'Karnataka'}


Duplicate dictionary is:  {'Name': 'Varun', 'jersey_no': 44, 'player_type': 'Spin Bowler', 'State': 'Karnataka'}

In [30]:

print(id(my_dict),id(original_dict),id(copy_dict))

133374950907136 133374950907136 133374950907136

In [31]:
# dictionary comprehensions are similar to list and set comprehensions, they allow us to create dictionaries dynamically

squares = {x: x**2 for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [34]:
# nested dictionaries can store other dictionaries, allowing for nested data structures

nested_dict1 = {
    'person1': {'name':'manish','age':22},
    'person2': {'name':'kashyap','age':28},
    'person3': {'name':'ravi','age':25}
                }

print(nested_dict1)

{'person1': {'name': 'manish', 'age': 22}, 'person2': {'name': 'kashyap', 'age': 28}, 'person3': {'name': 'ravi', 'age': 25}}

In [35]:
# complex example of an nested dictionary

company = {
    "Sales": {
        "Raj": {"ID": 101, "Title": "Sales Manager"},
        "Akash": {"ID": 102, "Title": "Sales Representative"}
    },
    "IT": {
        "Ranveer": {"ID": 201, "Title": "IT Manager"},
        "Setty": {"ID": 202, "Title": "Software Developer"}
    }
}

company

{'Sales': {'Raj': {'ID': 101, 'Title': 'Sales Manager'},
  'Akash': {'ID': 102, 'Title': 'Sales Representative'}},
 'IT': {'Ranveer': {'ID': 201, 'Title': 'IT Manager'},
  'Setty': {'ID': 202, 'Title': 'Software Developer'}}}

In [39]:
print(len(company))

2

In [50]:
print(company['IT']['Setty'])

{'ID': 202, 'Title': 'Software Developer'}

In [51]:
# ex 2

students = {
    "John": {
        "Math": 90,
        "Science": 85,
        "History": 75
    },
    "Emma": {
        "Math": 82,
        "Science": 95,
        "History": 80
    }
}

In [53]:
students

{'John': {'Math': 90, 'Science': 85, 'History': 75},
 'Emma': {'Math': 82, 'Science': 95, 'History': 80}}

In [57]:
print(students['Emma']['Math'])

82

In [58]:
# ex 3

product_catalog = {
    "Electronics": {
        "Laptop": {"Price": 800, "Stock": 10},
        "Smartphone": {"Price": 500, "Stock": 15}
    },
    "Books": {
        "Fiction": {"Price": 12, "Stock": 20},
        "Non-Fiction": {"Price": 15, "Stock": 18}
    }
}

In [59]:
product_catalog

{'Electronics': {'Laptop': {'Price': 800, 'Stock': 10},
  'Smartphone': {'Price': 500, 'Stock': 15}},
 'Books': {'Fiction': {'Price': 12, 'Stock': 20},
  'Non-Fiction': {'Price': 15, 'Stock': 18}}}

In [66]:
product_catalog['Electronics']['Laptop']['Stock']

10

In [64]:
product_catalog['Books']['Fiction']

{'Price': 12, 'Stock': 20}

In [73]:
#e1
original_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

filtered_dict = {key:value for key, value in original_dict.items() if value % 2 == 0}

In [74]:
print(filtered_dict)

{'b': 2, 'd': 4}

In [78]:
#e3

items = [("apple", "fruit"), ("carrot", "vegetable"), ("banana", "fruit"), ("broccoli", "vegetable")]

category_dict = {}

# for item, category in items:
#     if category in category_dict:
#         category_dict[category].append(item)
#     else:
#         category_dict[category] = item

for item, category in items:
    if category in category_dict:
        category_dict[category].append(item)
    else:
        category_dict[category] = [item]

print(category_dict)

{'fruit': ['apple', 'banana'], 'vegetable': ['carrot', 'broccoli']}

In [1]:
# RECURSION

"""

Recursion is a process that helps to break the bigger problem into smaller ones

Technical Definition: Recursion is a process in which a function calls itself multiple times, untill the desired problem gets solved.

Recursion consists of two major components:
    1. Recursive steps (function calls)
    2. Base case (terminating condition)

1. Recursive Steps:
    the recursive steps breaks the larger problem into smaller ones
    once the deepest level is resolved (base case), the process concludes by unwinding back through the previous recursive layers.
2. Base Case:
    the base case is a condition that stops recursion by providing a simple, direct solution without further recursive calls
    it prevents infinite recursion by specifying when the function should stop calling itself and start returning values.

"""

# Ex: Factorial Calculation

# calculates factorial of a number, where base case is factorial of 0

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(6))

720

In [3]:
# Fibonacci sequence

# description: finds nth number in the fibonacci series

# hint: f(n) = f(n-1) + f(n-2), with base cases for n = 0 and n = 1

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci (n-1) + fibonacci(n-2)

print(fibonacci(9))

34

In [4]:
# power of a number
"""
calculates the power of a number

power(base, exp) = base * power(base, exp - 1), with base case being power(base,0) = 1

"""

def power(base, exp):
    if exp == 0:
        return 1
    else:
        return base * power(base, exp -1)

print(power(5,3))

125

In [8]:
# Greatet Common Divisor

"""
calculates GCD for given two numbers

gcd(a,b) is gcd(b, a%b), with the base case being gcd(a,0) = a

"""

def gcd(a,b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

print(gcd(1086,42))

6
6

In [9]:
def gcd(a,b):
    if b == 0:
        return a
    else:
        return gcd(b, a % b)

print(gcd(1086,42))

6

In [14]:
# palindrome check

"""
checks if a string is a palindrome

compare the first and last charecters, then recursively check the substrings excluding these charecters

"""

def is_palindrome(s):
    if len(s) < 2 :
        return True
    if s[0] != s[-1]:
        return False
    return is_palindrome(s[1:-1])

print(is_palindrome("malayalam"))

True

In [15]:
# reverse a string

"""

reverse a given string

concatenate the reverse of substring (excluding the first charecter) with that first charecter.

"""

def reverse_string(s):
    if len(s) == 0:
        return s
    else:
        return reverse_string(s[1:]) + s[0]

print(reverse_string("Malayalam"))

malayalaM

In [16]:
# sum of array elements

"""

calculates the sum of elements in an array

sum_array(arr) = arr[0] + sum_array(arr[1:]), with base case being an empty array

"""

def sum_array(arr):
    if len(arr) == 0:
        return 0
    else:
        return arr[0] + sum_array(arr[1:])

print(sum_array(list(range(1,20,3))))

70

In [17]:
# tower of hanoi

"""
solve sthe tower of hanoi puzzle

move n-1 disks to the auxillary tower, then move the nth disk and finally move n-1 disks from auxillary to target

"""

def tower_of_hanoi(n, source, auxiliary, target):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
        return
    tower_of_hanoi(n - 1, source, target, auxiliary)
    print(f"Move disk {n} from {source} to {target}")
    tower_of_hanoi(n - 1, auxiliary, source, target)

tower_of_hanoi(3, 'A', 'B', 'C')
print("\n\nPuzzle solved !!")

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C


Puzzle solved !!

In [1]:
# Exception Handling

"""

Exception handling in programming, much like real worl, is about foreseeing potential problems and planning for them to avoid disaster

Exception handling will have 3 components:
    1. TRY: the code that might generate an exception is placed inside a try block.
    if any ststement within the try block raises an exception, the rest of the block's code is skipped and the control moves to except batch.

    2. EXCEPT: this block is used to handle theexception. you can specify different types of exceptions to catch and handle them appropriately.

    3. FINALLY: it contains the code that is always executed, regardless of an exception has occured or not. this isoften used for clean up activities
    (like closing a file)

    4. RAISING EXCEPTION: we can raise exceptions manually in your code using raise keyword. this is useful for signalling certain conditions in the program
    that are not met.


Here are few python in built exceptions, that needs to be handled using exception handling:
    1. ZeroDivison Error: raised when the denominator is provided as zero
    2. ValueError: raised when there is a wrong value in specified data type
    3. TypeError: raised when two different types are combined
    etc..,


"""

"\n\nException handling in programming, much like real worl, is about foreseeing potential problems and planning for them to avoid disaster\n\nException handling will have 3 components:\n    1. TRY: the code that might generate an exception is placed inside a try block. \n    if any ststement within the try block raises an exception, the rest of the block's code is skipped and the control moves to except batch.\n\n    2. EXCEPT: this block is used to handle theexception. you can specify different types of exceptions to catch and handle them appropriately.\n\n    3. FINALLY: it contains the code that is always executed, regardless of an exception has occured or not. this isoften used for clean up activities \n    (like closing a file)\n\n    4. RAISING EXCEPTION: we can raise exceptions manually in your code using raise keyword. this is useful for signalling certain conditions in the program\n    that are not met.\n\n\nHere are few python in built exceptions, that needs to be handled using exception handling:\n    1. ZeroDivison Error: raised when the denominator is provided as zero\n    2. ValueError: raised when there is a wrong value in specified data type\n    3. TypeError: raised when two different types are combined\n    etc..,\n\n    \n"

In [2]:
#ex 1: file not found error

try:
    with open('nonexistent.txt','r') as file:
        content = file.read()
    print(content)

except FileNotFoundError:
    print("Error!: The file doesn't exist")

Error!: The file doesn't exist

In [6]:
# ex2: file handling

try:
    file = open('testfile.txt','w')
    file.write("Hello World")
except IOError:
    print("Error in writing to the file")

File closed sucessfully

In [11]:
# ex 3: Multiple exceptions

"""

Note that when you have multiple except clauses, program will run only the firstone that triggers and ignores the rest.

"""

try:
    num1 = int(input("Enter the Numerator value: "))
    num2 = int(input("Enter the denominator value: "))
    result = num1 / num2
    print("Result is: ",result)
    with open('nonexistent.txt',"r") as file:
        content = file.read()
    print(content)

except ZeroDivisionError:
    print("Error: make sure denominator value is not zero")
except FileNotFoundError:
    print("File not found!!")

Enter the Numerator value: 4
Enter the denominator value: 0
Error: make sure denominator value is not zero

In [15]:
# Key Error Handling

my_dict = {"name":"jacob", "age":20}

try:
    print(my_dict["address"])
except KeyError:
    print("Key not found in the dictionary")

finally:
    print("Execution of try -except block is complete")

Key not found in the dictionary
Execution of try -except block is complete

In [19]:
# index out of range

my_list = list(range(7))

print(my_list)

print(len(my_list))

try:
    print(my_list[151])
except IndexError:
    print("Index provided is out of range")

[0, 1, 2, 3, 4, 5, 6]
7
Index provided is out of range

In [22]:
# value error handling

try:
    num = int(input("Enter a number: "))
    print("you entered: ", num)

except ValueError:
    print("Pleae enter an integer value")

Enter a number: jbtc
Pleae enter an integer value

In [1]:
# OBJECT ORIENTED PROGRAMMING (OOP)

"""

Concepts in OOP:
    1. Class & Objects
    2. Methods & Constructors
    3. Encapsulation
    4. Data Abastraction

"""

'\n\nConcepts in OOP:\n    1. Class & Objects\n    2. Methods & Constructors\n    3. Encapsulation\n    4. Data Abastraction\n\n'

In [4]:
# Examples of constructor

# Basic Constructor

class Car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model


# creating an object of the car class
my_car = Car("Honda","Amaze 3rd Gen")
print(f"my car is {my_car.brand} {my_car.model}")

my car is Honda Amaze 3rd Gen

In [5]:
# EX 2: Constructor with default values

class Book:
    def __init__(self, title, author = "Unknown"):
        self.title = title
        self.author = author

# creating objects of book class

book1 = Book("Theory of Relativity","Albert Einstein")
book2 = Book("The Alchemist")

print(f"Book1 name is {book1.title} authored by {book1.author}")
print("\n")
print(f"Book2 name is {book2.title} and authored by {book2.author}")

Book1 name is Theory of Relativity authored by Albert Einstein


Book2 name is The Alchemist and authored by Unknown

In [12]:
# ex: constructor with more complex logic

class Rectangle:
    def __init__(self,length,width):
        self.length = length
        self.width = width
    def area_of_rectangle(self):
        return self.length * self.width

# creating objects for above class.

rect = Rectangle(10,8)

print(f"Length of recatngle is {rect.length} and breadth is {rect.width}")

print(f"Area of rectanle is {rect.area_of_rectangle()}")

Length of recatngle is 10 and breadth is 8
Area of rectanle is 80

In [1]:
# ENCAPSULATION

"""
Its about keeping the data and the code that manipulates together in one unit, which is a class.

it also allows us to control the access to data by making it private or public

Concept: Imagine a class as a container  that holds its data tightly packed inside, not letting outsidde elements freely access it.

Benifits: Safeguards data from being accessed or modified directly, enhancing security and integrity.

"""

'\nIts about keeping the data and the code that manipulates together in one unit, which is a class.\n\nit also allows us to control the access to data by making it private or public\n\nConcept: Imagine a class as a container  that holds its data tightly packed inside, not letting outsidde elements freely access it.\n\nBenifits: Safeguards data from being accessed or modified directly, enhancing security and integrity.\n\n'

In [2]:
# ex: basic class with private variable

class Amount:
    def __init__(self):
        self.__balance = 0
    def deposit(self,amount):
        self.__balance += amount
    def get_balance(self,isloggedin):
        if isloggedin:
            return self.__balance
        else:
            return "User not logged in"

In [3]:
# using property decorators for getter and setter

class Person:
    def __init__(self,name):
        self.__name = name
    @property
    def name(self):
        return self.__name
    @name.setter
    def name(self,value):
        self.__name = value

In [4]:
# ABSTRACTION.

"""

Abstraction involves hiding the complex reality while exposing only the necessasry parts. its about focusing on what an object does instead of how it does.

Concept: Similar to how a car dashboard hides the complex engine parts, abstraction in oop hides the complex code and shows only whats necessary.

Benifits: Simplifies the interface reduces the cognitive load

"""

'\n\nAbstraction involves hiding the complex reality while exposing only the necessasry parts. its about focusing on what an object does instead of how it does.\n\nConcept: Similar to how a car dashboard hides the complex engine parts, abstraction in oop hides the complex code and shows only whats necessary.\n\nBenifits: Simplifies the interface reduces the cognitive load \n\n'

In [6]:
# ex 1: Abstract class

from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle:
    def area(self, length, width):
        return length * width

# creating an object of concrete class

my_rectangle = Rectangle()
print(my_rectangle.area(10,5))

50

In [8]:
# ex 2: Hiding Complexity

class Smartphone:
    def make_call(self):
        return "Calling..!"

    def complex_internal_logic(self):
        pass

# creating an object using its public method

myphone = Smartphone()
print(myphone.make_call())

Calling..!

In [9]:
# ex 3: interface with abstract methods

class StorageDevice:
    @abstractmethod
    def store_data(self, data):
        pass
class HardDrive(StorageDevice):
    def store_data(self, data):
        return "Data stored in Hard Drive"


# creating an object of a concrete class

my_hard_drive = HardDrive()
print(my_hard_drive.store_data("My Data"))

Data stored in Hard Drive

In [11]:
# INHERITANCE

"""

Inheritance is a fundamental principle in object oriented programming.

Enables using existing codes in new classes.

creates a class hierarchy for organized structure.

subclasses gains superclass featuresreduces redundancy and enhances extensibility

Different types of inheritances are:
    1. Single inheritance
    2. Multiple inheritance
    3. Multi Level Inheritance
    4. Hierarchial Inheritance
    5. Hybrid Inheritance

"""

'\n\nInheritance is a fundamental principle in object oriented programming.\n\nEnables using existing codes in new classes.\n\ncreates a class hierarchy for organized structure.\n\nsubclasses gains superclass featuresreduces redundancy and enhances extensibility\n\nDifferent types of inheritances are:\n    1. Single inheritance\n    2. Multiple inheritance\n    3. Multi Level Inheritance\n    4. Hierarchial Inheritance\n    5. Hybrid Inheritance\n\n'

In [1]:
# SINGLE INHERITANCE

"""

In single inheritance, a subclass inherits from only one super class.

This is the simplest form of inheritance, where there is direct parent - child relationship.

Just like child inherits traits from their parents. in simple inheritance a sub class inherits attributes and methods from a single super class


"""

# Example syntax

class Parent:
    def speak(self):
        print("Parent Speaks")

class Child(Parent):
    pass

# creating objects

child = Child()
child.speak()

Parent Speaks

In [5]:
# ex 1:

class Animal:
    def __init__(self, name):
        self.name = name

    def spaek(self):
        pass

class Dog(Animal):
    def speak(self):
        return "Woof..!"

# creating objects

dog = Dog("Von")
print(f" dog name is {dog.name} and it shouts dog.speak()")

 dog name is Von and it shouts dog.speak()

In [9]:
from os import terminal_size
# ex 2:

class Employee:
    def __init__(self, name, department):
        self.name  = name
        self.department = department

    def show_details(self):
        return f"Employee name is {self.name} and department is {self.department}"

class Manager(Employee):
    def __init__(self, name, department, team_size, years_of_experience):
        # self.name = name
        # self.department = department
        super().__init__(name, department)
        self.team_size = team_size
        self.years_of_experience = years_of_experience

    def show_details(self):
        details = super().show_details()
        return f"{details}, manages {self.team_size} people, with an exceptional {self.years_of_experience} of Experience managing a team"


# creating objects

manager  = Manager("Almas Abbas","HR", "15", "6")

print(manager.show_details())

Employee name is Almas Abbas and department is HR, manages 15 people, with an exceptional 6 of Experience managing a team

In [18]:
# ex 3

class Shape:
    def area(self):
        pass
    def perimeter(self):
        pass

class Circle(Shape):
    def __init__(self, radius, pi):
        self.radius = radius
        self.pi = 3.14

    def area(self):
        return self.pi * self.radius ** 2

    def perimeter(self):
        return 2 * self.pi * self.radius

circle = Circle(10,pi = 3.14)

print(f"Circle radius is {circle.radius} and area is {circle.area()} meter square  with a perimeter of {round(circle.perimeter(),2)} meter")

Circle radius is 10 and area is 314.0 meter square  with a perimeter of 62.8 meter

In [2]:
# MULTIPLE INHERITANCE

# ex 1:

class Grandparent:
    def heritage(self):
        return "Family Heritage"

class Parent(Grandparent):  # Inherits from Grandparent
    pass

class Child(Parent):  # Inherits from Parent
    pass

child = Child()
print(child.heritage())  # Output: Family Heritage



# ex 2:

class MusicalInstrument:
    def play(self):
        return "Playing instrument"

class StringInstrument(MusicalInstrument):
    def has_strings(self):
        return True

class Guitar(StringInstrument):
    def type(self):
        return "Guitar"

guitar = Guitar()
print(guitar.play())
print(guitar.has_strings())
print(guitar.type())


# ex 3:

class OperatingSystem:
    def multitasking(self):
        return "Supports multitasking"

class Windows(OperatingSystem):
    def gui(self):
        return "Has GUI"

class Windows10(Windows):
    def latest_features(self):
        return "Latest Windows features"

windows10 = Windows10()
print(windows10.multitasking())
print(windows10.gui())
print(windows10.latest_features())

Family Heritage
Playing instrument
True
Guitar
Supports multitasking
Has GUI
Latest Windows features

In [3]:
# HIERARCHIAL INHERITANCE

# ex 1:

class Company:
    def company_policy(self):
        print("Company policy")

class HR(Company):
    pass

class Finance(Company):
    pass

hr_department = HR()
finance_department = Finance()
hr_department.company_policy()  # Output: Company policy
finance_department.company_policy()  # Output: Company policy


# ex 2:

class Employee:
    def __init__(self, name, employee_id):
        self.name = name
        self.employee_id = employee_id

    def introduce(self):
        return f"I am {self.name}, Employee ID: {self.employee_id}"

class Manager(Employee):
    def manage_team(self):
        return f"{self.name} is managing a team"

class Programmer(Employee):
    def write_code(self):
        return f"{self.name} is writing code"

manager = Manager("Alice", "M001")
programmer = Programmer("Bob", "P002")

print(manager.introduce())      # Output: I am Alice, Employee ID: M001
print(manager.manage_team())    # Output: Alice is managing a team

print(programmer.introduce())   # Output: I am Bob, Employee ID: P002
print(programmer.write_code())


# ex 3:

class Appliance:
    def __init__(self, name, brand):
        self.name = name
        self.brand = brand

    def turn_on(self):
        return f"{self.brand} {self.name} is turned on"

class Refrigerator(Appliance):
    def cool(self):
        return f"{self.name} is cooling"

class Television(Appliance):
    def watch_tv(self):
        return f"{self.name} is showing your favorite show"

fridge = Refrigerator("Fridge", "CoolTech")
tv = Television("TV", "ScreenMaster")

print(fridge.turn_on())      # Output: CoolTech Fridge is turned on
print(fridge.cool())         # Output: Fridge is cooling

print(tv.turn_on())          # Output: ScreenMaster TV is turned on
print(tv.watch_tv())         # Output: TV is showing your favorite show


# ex 4:

class Vehicle:
    def __init__(self, name):
        self.name = name

    def start(self):
        return f"{self.name} is starting"

class Car(Vehicle):
    def drive(self):
        return f"{self.name} is driving on the road"

class Boat(Vehicle):
    def sail(self):
        return f"{self.name} is sailing on the water"

car = Car("Sedan")
boat = Boat("Speedboat")

print(car.start())        # Output: Sedan is starting
print(car.drive())        # Output: Sedan is driving on the road

print(boat.start())       # Output: Speedboat is starting
print(boat.sail())

Company policy
Company policy
I am Alice, Employee ID: M001
Alice is managing a team
I am Bob, Employee ID: P002
Bob is writing code
CoolTech Fridge is turned on
Fridge is cooling
ScreenMaster TV is turned on
TV is showing your favorite show
Sedan is starting
Sedan is driving on the road
Speedboat is starting
Speedboat is sailing on the water

In [4]:
# HYBRID INHERITANCE

# ex 1:

class Grandparent:
    def method_GP(self):
        return "Method from Grandparent"

class Parent(Grandparent):
    def method_P(self):
        return "Method from Parent"

class Child(Parent):
    def method_C(self):
        return "Method from Child"

class OtherParent:
    def method_OP(self):
        return "Method from OtherParent"

class Grandchild(Child, OtherParent):
    def method_GC(self):
        return "Method from Grandchild"

gc = Grandchild()
print(gc.method_GP())  # Output: Method from Grandparent
print(gc.method_P())   # Output: Method from Parent
print(gc.method_OP())  # Output: Method from OtherParent
print(gc.method_C())   # Output: Method from Child
print(gc.method_GC())

# ex 2:

class Animal:
    def method_animal(self):
        return "Method from Animal"

class Mammal(Animal):
    def method_mammal(self):
        return "Method from Mammal"

class Bird(Animal):
    def method_bird(self):
        return "Method from Bird"

class Bat(Mammal, Bird):
    def method_bat(self):
        return "Method from Bat"

bat = Bat()
print(bat.method_animal())  # Output: Method from Animal
print(bat.method_mammal())  # Output: Method from Mammal
print(bat.method_bird())    # Output: Method from Bird
print(bat.method_bat())     # Output: Method from Bat

Method from Grandparent
Method from Parent
Method from OtherParent
Method from Child
Method from Grandchild
Method from Animal
Method from Mammal
Method from Bird
Method from Bat

In [5]:
# SUPER FUNCTION

#ex:

class Person:
    def __init__(self, name):
        self.name = name
        print(f"Person {self.name} created")

class Employee(Person):
    def __init__(self, name, employee_id):
        super().__init__(name)  # Call the __init__ of Person
        self.employee_id = employee_id
        print(f"Employee {self.name}, ID: {self.employee_id} created")

# Create an Employee instance
emp = Employee("John", 1234)

Person John created
Employee John, ID: 1234 created

In [6]:
class Vehicle:
    def start(self):
        print("Vehicle engine started")

class Car(Vehicle):
    def start(self):
        super().start()  # Call start method of Vehicle
        print("Car engine started")

# Create a Car instance
car = Car()
car.start()  # Outputs: Vehicle engine started, then Car engine started

Vehicle engine started
Car engine started

In [7]:
class Father:
    def hobby(self):
        print("Gardening is my hobby")

class Mother:
    def hobby(self):
        print("Painting is my hobby")

class Child(Father, Mother):
    def hobby(self):
        super().hobby()  # Calls the Father's hobby method

# Create a Child instance
child = Child()
child.hobby()  # Outputs: Gardening is my hobby

Gardening is my hobby

In [1]:
# POLYMORPHISM

"""

Polymorphism in OOP enables different classes to share a common interface.

treats objects of various classes as instances of single class.

types of polymorphism:
    1. Compile time: example is method over loading
    2. Run time: example is method over riding

Different classes implement the  same method in unique ways.

"""

# Examples of real world

"""

Imagine a program dealing with different shapes such as circle, square and triangles

Shape (Base Class): this class defines a method draw(). however, the way you draw each shape is different.

Circle, Square, Triangle (Sub classes): each of the classes extends shape and overrides the draw() method to implement their specific drawing logic.

"""

'\n\nImagine a program dealing with different shapes such as circle, square and triangles\n\nShape (Base Class): this class defines a method draw(). however, the way you draw each shape is different.\n\nCircle, Square, Triangle (Sub classes): each of the classes extends shape and overrides the draw() method to implement their specific drawing logic.\n\n'

In [2]:
# example code for above logic

class Shape:
    def draw(self):
        pass

class Circle(Shape):
    def draaw(self):
        print("Drawing a circle")

class Square(Shape):
    def draw(self):
        print("Drawing a Square")

class Triangle(Shape):
    def draw(self):
        print("Drawing a triangle")


# polymorphism in action
# creating objects for all sub classes --> looping them instead of calling one by one

shapes = [Circle(), Square(), Triangle()]

for shape in shapes:
    shape.draw()

Drawing a Square
Drawing a triangle

In [3]:
# ex 1: Using inheritance

"""

polymorphism is often used with inheritance, where subclasses can have methods with same name as the methods in super class

This allows for over riding and extending the functionality of the base class methods.


"""

class Animal:
    def speak(self):
        return "I'm an Animal"

class Dog(Animal):
    def speak(self):
        return "woof..!"

class Cat(Animal):
    def speak(self):
        return "Meow..Meow"

# creating objects for sub classes

cat = Cat()
dog = Dog()

# polymorphic behaviour

print(cat.speak())

print(dog.speak())

Meow..Meow
woof..!

In [4]:
# ex 2: using duck typing

"""

python is also known for its duck typing approach, which is a type of polymorphism where the type or class of an object or class of an object is less important than the methodss it define

when use duck typing, you don't check the type of the object  but rather check if it has  the method or behaviour you need

"""


# ex:

class Duck:
    def quack(self):
        return "Quack"

class Person:
    def quack(self):
        return "I'm pretending to be a duck"

def make_it_quack(duckline):
    print(duckline.quack())


# creating objects

duck = Duck()

person = Person()

#polymorphic behaviour

print(make_it_quack(duck))

print(make_it_quack(person))

Quack
None
I'm pretending to be a duck
None

In [7]:
# Using operator overloading

"""

operator overloading is another form of polymorphism in python where operators can behave differently based on their operands.

for example: the + operator performs addition when used with numbers and concatenation with strings.


"""

# example code:

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"Point({self.x}, {self.y})"

point1 = Point(1, 2)
point2 = Point(3, 4)

# Polymorphic behavior with + operator
result = point1 + point2
print(result)  # Outputs: Point(4, 6)

Point(4, 6)

In [8]:
# Key points in polymorphism

"""

Common interface: different classes implement the same method in different ways.

Runtime Behaviour: the exact method that gets called is determined at runtime.

Flexibility and Scalabillity: code is more flexible  and can be extended to new classes without modyfing existing code.

Enhances code reusability: common interfaces allows for writing  more generic and reuasble code.


"""

'\n\nCommon interface: different classes implement the same method in different ways.\n\nRuntime Behaviour: the exact method that gets called is determined at runtime.\n\nFlexibility and Scalabillity: code is more flexible  and can be extended to new classes without modyfing existing code.\n\nEnhances code reusability: common interfaces allows for writing  more generic and reuasble code.\n\n\n'